{% extends 'auth/base.html' %}
{% block title %}Forget{% endblock %}
{% block form %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary btn-flat m-b-15">{{ _('Submit') }}</button>
    </form>
{% endblock %}