{% extends 'auth/base.html' %}
{% block title %}Login{% endblock %}
{% block form %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <ul class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember" name="remember"> {{ _('Remember me') }}
            </label>
            <label class="pull-right">
                <a href="{{ url_for('main.forget') }}"> {{ _('Forgotten Password?') }}</a>
            </label>

        </div>
        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">{{ _('Sign in') }}</button>
        <div class="register-link m-t-15 text-center">
            <p>{{ _("Don't have account ?") }} <a href="{{ url_for('main.register') }}"> {{ _('Sign Up Here') }}</a></p>
        </div>
    </form>

{% endblock %}