{% extends 'auth/base.html' %}
{% block title %}Register{% endblock %}
{% block form %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label }}
            {{ form.phone_number }}
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> {{ _('Agree the terms and policy') }}
            </label>
        </div>
        {{ form.submit }}
        <div class="register-link m-t-15 text-center">
            <p>{{ _('Already have account ?') }}<a href="{{ url_for('main.login') }}">{{ _('Sign in') }}</a></p>
        </div>
    </form>

{% endblock %}