{% extends 'base.html' %}
{% block title %}{{ _('Add Warehouse') }}{% endblock %}
{% block page_title %}{{ _('Add Warehouse') }}{% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.product_id.label }}
            {{ form.product_id }}
        </div>
        <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity }}
        </div>
        {{ form.submit }}
    </form>
{% endblock %}