{% extends 'base.html' %}
{% block title %}{{ _('List Warehouse') }}{% endblock %}
{% block page_title %}{{ _('List Warehouse') }}{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <theader>
            <tr>
                <td>{{ _('Product') }}</td>
                <td>{{ _('Description') }}</td>
                <td>{{ _('Quantity') }}</td>
                <td>{{ _('Created At') }}</td>
                <td>{{ _('Updated At') }}</td>
                <td></td>
            </tr>
        </theader>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.products.name }}</td>
                <td>{{ warehouse.description }}</td>
                <td>{{ warehouse.quantity }}</td>
                <td>{{ warehouse.created_at }}</td>
                <td>{{ warehouse.updated_at }}</td>
                <td>
                    <a href="{{ url_for('main.edit_warehouse', warehouse_id=warehouse.id) }}">
                        <i class="fa fa-pencil">{{ _('Edit') }}</i>
                    </a>
                    <a href="{{ url_for('main.delete_warehouse', warehouse_id=warehouse.id) }}"
                       onclick="return confirm('{{ _('Are you sure to delete?') }}')">
                        <i class="fa fa-trash">{{ _('Delete') }}</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}