{% extends 'errors/base.html' %}
{% block title %}404{% endblock %}
{% block content %}
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily
        unavailable</p>
{#    TODO add link#}
    <p class="output">Please try <a href="/">this link</a> or <a href="/">this link</a></p>
    <p class="output">Good luck</p>
{% endblock %}