{% extends 'errors/base.html' %}
{% block title %}500{% endblock %}
{% block content %}
    <h1>Error <span class="errorcode">500</span></h1>
    <p class="output">Internal Server Error</p>
{#    TODO add link#}
    <p class="output">Please try <a href="/">this link</a> or <a href="/">this link</a></p>
    <p class="output">Good luck</p>
{% endblock %}