{% extends 'base.html' %}
{% block title %}{{ _('Edit Category') }}{% endblock %}
{% block page_title %}{{ _('Edit Category') }}{% endblock %}

{% block content %}
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <ul class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post">
    {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.save }}
            {{ form.save_and_continue }}
        </div>
    </form>
{% endblock %}