{% extends 'base.html' %}

{% block title %}{{ _('List Category') }}{% endblock %}
{% block page_title %}{{ _('List Category') }}{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">{{ _('Category Name') }}</th>
            <th style="width: 15%"></th>
        </tr>
        </thead>
        <tbody>
        {% if categories %}
            {% for category in categories %}
                <tr>
                    <td class="text-center">{{ category.name }}</td>
                    <td>
                        <a href="{{ url_for('main.edit_category', category_id=category.id) }}">
                            <i class="fa fa-pencil" aria-hidden="true">{{ _('Edit') }}</i>
                        </a>
                        <a href="{{ url_for('main.delete_category', category_id=category.id) }}"
                           onclick="return confirm('{{ _('Are you sure to delete?') }}')">
                            <i class="fa fa-trash" aria-hidden="true">{{ _('Delete') }}</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}