{% extends 'base.html' %}
{% block title %}{{ _('Edit Product') }}{% endblock %}
{% block page_title %}{{ _('Edit Product') }}{% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.barcode.label }}
            {{ form.barcode}}
        </div>
        <div class="form-group">
            {{ form.category_id.label }}
            {{ form.category_id}}
        </div>
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name}}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price}}
        </div>
        <div class="form-group">
            {{ form.image.label }}
            {{ form.image}}
        </div>
        {{ form.submit }}
    </form>
{% endblock %}