{% extends 'base.html' %}
{% block title %}{{ _('List Product') }}{% endblock %}
{% block page_title %}{{ _('List Product') }}{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>{{ _('Barcode') }}</td>
            <td>{{ _('Category') }}</td>
            <td>{{ _('Name') }}</td>
            <td>{{ _('Price') }}</td>
            <td>{{ _('Image') }}</td>
            <td></td>
        </tr>
        </thead>
        {% if products %}
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price |format_currency }}</td>
                    <td>{{ product.image_url }}</td>
                    <td>
                        <a href="{{ url_for('main.edit_product', product_id=product.id) }}">
                            <i class="fa fa-pencil">{{ _('Edit') }}</i>
                        </a>
                        <a href="{{ url_for('main.delete_product', product_id=product.id) }}"
                           onclick="return confirm('{{ _('Are you sure to delete?') }}')">
                            <i class="fa fa-trash">{{ _('Delete') }}</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}