{% extends 'base.html' %}
{% block title %}{{ _('Add Customer') }}{% endblock %}
{% block page_title %}{{ _('Add Customer') }}{% endblock %}

{% block content %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.full_name.label }}
            {{ form.full_name }}
        </div>
        <div class="form-group">
            {{ form.gender.label }}
            {{ form.gender }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label }}
            {{ form.phone_number }}
        </div>
        <div class="form-group">
            {{ form.birthday.label }}
            {{ form.birthday(type='date') }}
        </div>
        <div class="form-group">
            {{ form.address.label }}
            {{ form.address }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}