{% extends 'base.html' %}

{% block title %}{{ _('List Customer') }}{% endblock %}
{% block page_title %}{{ _('List Customer') }}{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ _('Full Name') }}</th>
            <th>{{ _('Gender') }}</th>
            <th>{{ _('Phone Number') }}</th>
            <th>{{ _('Birthday') }}</th>
            <th>{{ _('Address') }}</th>
            <th>{{ _('Email') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if customers %}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.full_name }}</td>
                    <td>{{ customer.gender.value }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.birthday | format_date }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.email }}</td>
                    <td>
                        <a href="{{ url_for('main.edit_customer',customer_id=customer.id) }}">
                            <i class="fa fa-pencil">{{ _('Edit') }}</i>
                        </a>
                        <a href="{{ url_for('main.delete_customer',customer_id=customer.id) }}"
                           onclick="return confirm('{{ _('Are you sure to delete?') }}')">
                            <i class="fa fa-trash">{{ _('Delete') }}</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}