{% extends "base.html" %}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block page_title %}{{ _('Dashboard') }}{% endblock %}

{% block content %}
    <div class="table-responsive">
{#        <table class="table table-bordered">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Username</th>#}
{#                <th>Password</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% if users %}#}
{#                {% for user in users %}#}
{#                    <tr>#}
{#                        <td>{{ user.username }}</td>#}
{#                        <td>{{ user.password }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#            </tbody>#}
{#        </table>#}
    </div>
{% endblock %}